@import url('https://fonts.googleapis.com/css2?family=Forum&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');


/*
/* Color Theme Swatches in Hex 
{ color: #027373; }
{ color: #038C7F; }
{ color: #A9D9D0; }
{ color: #F2E7DC; }
{ color: #0D0D0D; }
*/

:root {
    --color1: #E7F0F2;
    --color2: #A9D9D0;
    --color3: #038c7f;
    --color4: #027373;
    --color5: #0D0D0D;
}

body {
    margin: 0%;
    background-color: var(--color5);
}

.header {
    background-color: var(--color3);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.pass-settings {
    display: none;
    justify-items: end;
}

.options {
    display: grid;
    margin-right: 10px;
}

.form-button0 {
    display: flex;
}

.input-background {
    background-color: var(--color1);
}

.display-none {
    display: none;
}

.submit-button {
    border: none;
    background-color: transparent;
    float: left;
}

.custom-text-font-manrope {
    font-family: 'Manrope', sans-serif;
}

.custom-text-color5 {
    color: var(--color5);
}

.custom-text-color4 {
    color: var(--color4);
}

.custom-text-color3 {
    color: var(--color3);
}

.custom-text-color1 {
    color: var(--color1);
}

.password-button-font-size {
    font-size: 20px;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color4);
}

.show-hide-password {
    float: right;
}

.delete-button {
    float: right;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: "Excluir Conta";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.tooltip:hover::after {
    opacity: 1;
}


.display-svg {
    display: flex;
}

.div-general {
    display: flex;
}

.d-block {
    display: block;
}

.forms-general {
    margin-top: 10vh;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color3);
}

.footer-deleter {
    display: flex;
    justify-content: flex-end;
}

.forms-delete {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--color3);
    display: flow-root;
}


.custom-text-font-forum {
    font-family: 'Forum', cursive;
    font-family: 'Quicksand', sans-serif;
}

.title-form {
    font-size: 25px;
}

.custom-text-font-manrope {
    font-family: 'Manrope', sans-serif;
}

.password-button-font-size {
    font-size: 20px;
}

.container-fluid {
    display: flex;
}

.item {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

label {
    display: block;
}



.label-float {
    position: relative;
    padding-top: 15px;
}

.label-float input {
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}


.label-float input::placeholder {
    color: transparent;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 3px;
    box-sizing: border-box;
}

.label-float input::invalid+label {
    color: red;
}

.label-float input:focus::invalid {
    border: 2px solid red;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 13px;
    top: 0;
    color: black;
    border-radius: 6px;
}

.input-group {
    display: flex;
    align-content: stretch;
}

.input-group>input {
    flex: 1 0 auto;
}

.input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
}

a {
    text-decoration: none;
    color: var(--color4);
}